.asana-card-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  flex-wrap: wrap;
}

.asana-level-msg {
  text-align: center;
}

.curr-level {
  font-size: 1.3em;
}

@media (max-width: 600px) {
  .curr-level {
    font-size: 1.1em;
  }

  .asana-level-msg {
    font-size: 1.3em;
  }
}